

.grandparent {
    border: 1px solid black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.parent {
    width: max-content;
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

button {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 50px;
}


.father {
    border: 1px solid green;
    display: flex;
}

.child {
    width: max-content;
}