* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.grandparent {
    margin:1rem;
    padding: 1rem;
    border: 1px solid black;
    display: flex;
    flex-direction:column; 
    justify-content: center;
    /* height: 100vh; */
    align-items: center;
}

.parent {
    margin: auto;
    padding: 10px;
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

button {
    flex-grow: 1; 
    flex-shrink: 1;
    flex-basis: calc((100% - 20px) / 3);
    padding: 25px;
}

#textField {
    font-size: 1rem;
    height: 50px;
    width: 50%;
    border-radius: 10px;
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 0.5rem;
}

button {
    padding: 1rem;
    font-size: 1.5rem;
    border:1px solid black;
    border-radius: 20px;
}

.active {
    background-color: green;
    opacity: 0.9;
}

/* 
i need for the = and CLR buttons to be only active during the clicking
i have decided to add animation instead of js since:
- i cant add a mouseover within the existing clickevent
- i simply need the buttons to change state for a second or so while active 
*/

@keyframes backgroundColorChange {
    0% {
        background-color: normal;
    }
    100% {
        background-color: green;
    }
}

