* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.grandparent {
    margin:1rem;
    padding: 1rem;
    border: 1px solid black;
    display: flex;
    flex-direction:column; 
    justify-content: center;
    /* height: 100vh; */
    align-items: center;
}

.parent {
    margin: auto;
    padding: 10px;
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

button {
    flex-grow: 1; 
    flex-shrink: 1;
    flex-basis: calc((100% - 20px) / 3);
    padding: 25px;
}

#textField {
    height: 50px;
    width: 50%;
}

.active {
    background-color: green;
    opacity: 0.9;
}